PORT=5000
MONGODB_URI=mongodb+srv://lalitkumarsaini:CrQ0c2KLmEHStNGq@node.d1blf.mongodb.net/project-manager?retryWrites=true&w=majority
JWT_SECRET=e27cfe28d3dd3ca5c947d42331dd17561af893c25c0c66aa724fdc9deda20e09
NODE_ENV=development
